/* ============= Table Of Contents ============ 

* 1 - Variables & Mixins
* 2 - Global Styles
* 3 - Page Name Section
* 4 - Carousel Controls
* 5 - Owl carousel Controls
* 6 - Accordion
* 7 - Headers Styles
* 8 - Banner Slider
* 9 - About us sections Styles
* 10 - Welcome Sections Styles
* 11 - We Do 
* 12 - Partners
* 13 - Portfolio
* 14 - Choose Sections
* 15 - Blog and Related Post Slider
* 16 - Features Section
* 17 - Contact Page
* 18 - About Page
*      18.1 - Welcome-5 Styles
* 19 - Team Section
* 20 - Service Page
* 21 - Service Details Page
* 22 - Team Page
* 23 - Portfolio Pages
*      23.1 - Portfolio Single Page
* 24 - Blog Pages
* 25 - Shop Page
* 26 - Sidebar
* 27 - Short Texts
* 28 - Pagination
* 29 - Footer

============================================= */

.description,h1,h2,h3,h4,h5,h6,p{font-family:Roboto}.btn,iframe{border:none}.blog-posts.single-layout .respond .comment-form .form-control[type=submit]:focus,.blog-posts.single-layout .respond .comment-form input[type=submit]:focus,.blog-posts.single-layout .respond .comment-form textarea:focus,.contact-details .wpcf7-form .wpcf7-form-control[type=submit]:focus,.contact-details .wpcf7-form textarea:focus,a:focus,a:hover,button:focus,footer .widget_subscribe form input:focus,header .header-top .top-sitemap .has-dropdown .dropdown form input[type=submit]:active,header .header-top .top-sitemap .has-dropdown .dropdown form input[type=submit]:focus,header .header-top .top-sitemap .has-dropdown .dropdown form input[type=checkbox]:focus,input:focus{outline:0}.transition,a{-webkit-transition:all .25s ease;-moz-transition:all .25s ease;-ms-transition:all .25s ease;-o-transition:all .25s ease;transition:all .25s ease}.btn,.owl-controls .owl-nav div[class*=owl-]:before{-moz-transition:all .25s ease;-ms-transition:all .25s ease;-o-transition:all .25s ease}a:focus,a:hover{text-decoration:none}h1,h2,h3,h4,h5,h6{color:#4d4d4d;font-weight:700}iframe{box-shadow:none;height:auto;max-width:100%;width:100%}.description,p{color:#737373;font-size:14px;line-height:28px}.description strong,p strong{color:#404040;font-size:16px;font-weight:400;line-height:23px}.overlay{background:rgba(0,0,0,.25);position:absolute;height:100%;width:100%;left:0;top:0}.inner-bg{background:#fff;display:inline-block;width:100%}.padding{padding:30px}.section-padding{padding:7.5px 0}.blog-posts .entry-title,.page-title,.section-title{font-size:22px;font-weight:700;margin:43px 0 17px;padding:0 30px;position:relative;text-transform:uppercase}.blog-posts .entry-title:before,.page-title:before,.section-title:before{content:'';background:#ffab40;height:1px;width:15px;top:50%;left:0;position:absolute}.blog-posts .entry-title a,.page-title a,.section-title a{color:#404040}.section-title span{color:#ffab40}.item-title,.name,.widget-title{display:inline-block;font-size:17px;font-weight:700;margin:0;text-transform:uppercase}.btn,.entry-meta{font-size:13px;font-family:Roboto}.item-title a,.name a,.widget-title a{color:#404040}.item-title a:hover,.name a:hover,.widget-title a:hover{color:#ffab40}.entry-meta,.entry-meta a{color:#a6a6a6}.widget-details{padding-top:30px}.items{margin:0 -7.5px}.entry-meta a:hover{color:#404040}.btn{background:#ffab40;border-radius:0;color:#fff;font-weight:500;line-height:60px;margin:0;padding:0 35px;text-transform:uppercase;-webkit-transition:all .25s ease;transition:all .25s ease}.btn.black,.btn:hover{background:#404040;color:#ffab40}.btn.black:hover{background:#ffab40;color:#404040}.btn.read-more{background:0 0;border-bottom:1px solid #ffab40;color:#ffab40;line-height:1;padding:0}.btn.read-more i{font-size:10px;margin-left:3px}.background-bg{background-size:cover;background-position:center;background-repeat:no-repeat;background-attachment:scroll}.designation{color:#999;font-family:Roboto;font-size:12px;margin-top:6px;text-transform:capitalize}.page-name .page-title,.ribbon{color:#fff;text-transform:uppercase}.ribbon{font-size:12px;padding:13px 12px;right:0;top:0;position:absolute}.ribbon.sale{background:#ff5252}.page-name .overlay{background:rgba(38,42,56,.5);position:inherit}.page-name .padding{padding:93px 30px}.page-name .page-title{font-size:30px;font-weight:700;margin:0;padding:0 45px;position:relative}.page-name .page-title:before{content:'';background:#ffab40;height:1px;width:30px;top:50%;left:0;position:absolute}.page-name .breadcrumb{background:0 0;color:#ebebeb;font-size:13px;font-weight:300;margin:8px 0 0;padding:0 0 0 45px}.page-name .breadcrumb li a,.page-name .breadcrumb li.active{color:#ebebeb}.page-name .breadcrumb li:before{content:'-';color:#ebebeb;padding:0 4px 0 2px}.page-name .breadcrumb li:first-child:before{content:'';display:none}.banner-slider .carousel-control,.post-slider .carousel-control{box-shadow:none;color:#fff;font-size:20px;height:45px;width:45px;line-height:45px;top:50%;margin-top:-22.5px;text-align:center}.owl-controls{position:absolute;right:0;top:-70px;width:40px}.owl-controls .owl-nav div[class*=owl-]{background:0 0;display:inline-block;font-size:0;text-indent:-999;position:relative;width:20px;height:20px;line-height:20px;text-align:center}.owl-controls .owl-nav div[class*=owl-]:before{color:#737373;font-family:FontAwesome;font-size:20px;-webkit-transition:all .25s ease;transition:all .25s ease}.owl-controls .owl-nav div[class*=owl-]:hover:before{color:#ffab40}.owl-controls .owl-nav .owl-prev:before{content:"\f104"}.owl-controls .owl-nav .owl-next:before{content:"\f105"}.panel-group{margin:0}.panel-group .panel-default{border:none;box-shadow:none;margin:0 0 15px}.panel-group .panel-default .panel-heading{background:0 0;border:none;border-radius:0;padding:0;text-transform:uppercase}.panel-group .panel-default .panel-heading .panel-title{font-size:14px;font-weight:700}.panel-group .panel-default .panel-heading .panel-title a{background:#ffab40;color:#fff;display:inline-block;padding:22.5px 20px;width:100%}.panel-group .panel-default .panel-heading .panel-title a.collapsed{background:#ebebeb;color:#404040}.panel-group .panel-default .panel-body{border:none;color:#737373;font-size:14px;line-height:26px;padding:23px 0 6px}header{margin-bottom:7.5px}header .header-top{background:#ebebeb;font-family:Roboto}header .header-top .top-sitemap{color:#a6a6a6;font-size:13px;line-height:50px;position:relative}header .header-top .top-sitemap a{color:#a6a6a6;-webkit-transition:all .25s ease;-moz-transition:all .25s ease;-ms-transition:all .25s ease;-o-transition:all .25s ease;transition:all .25s ease}header .header-top .top-sitemap a:hover{color:#404040}header .header-top .top-sitemap.text-right{float:right}header .header-top .top-sitemap span{padding:0 15px;position:relative}header .header-top .top-sitemap span:first-child{padding-left:0}header .header-top .top-sitemap span:last-child{padding-right:0}header .header-top .top-sitemap span:last-child:before{content:'';display:none}header .header-top .top-sitemap span:before{content:'';background:#a6a6a6;width:1px;height:12px;position:absolute;top:1px;right:-2px}header .header-top .top-sitemap i{margin-right:7px}header .header-top .top-sitemap .has-dropdown{display:inline-block;float:left;overflow:hidden;padding-left:30px;position:relative}header .header-top .top-sitemap .has-dropdown:before{content:'';background:#a6a6a6;width:1px;height:12px;position:absolute;top:18px;left:13px}header .header-top .top-sitemap .has-dropdown:hover{overflow:visible}header .header-top .top-sitemap .has-dropdown .dropdown{background:#fff;border:1px solid #ebebeb;height:0;opacity:0;padding:30px;position:absolute;top:80px;right:0;width:270px;z-index:1;-webkit-transition:all .25s ease;-moz-transition:all .25s ease;-ms-transition:all .25s ease;-o-transition:all .25s ease;transition:all .25s ease}header .header-top .top-sitemap .has-dropdown .dropdown form p{margin:0}header .header-top .top-sitemap .has-dropdown .dropdown form input{border:1px solid #ebebeb;border-radius:0;box-shadow:none;color:#a6a6a6;font-size:14px;font-weight:400;margin-bottom:15px;padding:14px 20px;width:100%;text-transform:none}header .header-top .top-sitemap .has-dropdown .dropdown form input[type=submit]{border:none;color:#404040;font-size:12px;font-weight:700;line-height:38px;margin-bottom:0;padding:0 18px;text-transform:uppercase;width:inherit}header .header-top .top-sitemap .has-dropdown .dropdown form input[type=submit]:hover{color:#ffab40}header .header-top .top-sitemap .has-dropdown .dropdown form input[type=checkbox]{border:2px solid #e6e6e6;border-radius:0;box-shadow:none;height:11px;width:11px;margin:0 3px 0 0;padding:0;-moz-appearance:none;-webkit-appearance:none;-o-appearance:none}header .header-top .top-sitemap .has-dropdown .dropdown form input[type=checkbox]:checked{background:#ffab40;border-color:#ffab40}header .header-top .top-sitemap .has-dropdown .dropdown form#login input[type=submit]{margin-bottom:30px}header .header-top .top-sitemap .has-dropdown .dropdown form label{color:#a6a6a6;display:inline-block;font-weight:400;text-transform:capitalize}header .header-top .top-sitemap .has-dropdown .dropdown form label[for=rememberme]{float:left;margin:0;padding-top:5px}header .header-top .top-sitemap .has-dropdown .dropdown form label[for=terms] a{color:#ffab40;text-decoration:underline}header .header-top .top-sitemap .has-dropdown .dropdown form label input{display:inline-block;width:inherit}header .header-top .top-sitemap .has-dropdown .dropdown form .forgot-psd{color:#ffab40;float:left;text-decoration:underline}header .header-top .top-sitemap .has-dropdown .dropdown form .additional-method{padding:0}header .header-top .top-sitemap .has-dropdown .dropdown form .additional-method a{color:#fff;display:inline-block;font-size:14px;float:left;height:25px;width:25px;line-height:25px;margin:0 2.5px;text-align:center}header .header-top .top-sitemap .has-dropdown .dropdown form .additional-method a:last-child{margin-right:0}header .header-top .top-sitemap .has-dropdown .dropdown form .additional-method a.facebook{background:#3b5998}header .header-top .top-sitemap .has-dropdown .dropdown form .additional-method a.google{background:#dd4b39}header .header-top .top-sitemap .has-dropdown .dropdown form .additional-method a i{margin:0}header .header-top .top-sitemap .has-dropdown .dropdown form#signup .additional-method{padding-top:7px}header .header-top .top-sitemap .has-dropdown .dropdown form .log-in,header .header-top .top-sitemap .has-dropdown .dropdown form .sign-up{border-top:1px solid #e6e6e6;color:#a6a6a6;display:inline-block;font-size:13px;margin-top:27px;padding:7px 0;text-align:center;width:100%}header .header-top .top-sitemap .has-dropdown .dropdown form .log-in a,header .header-top .top-sitemap .has-dropdown .dropdown form .sign-up a{color:#ffab40;text-decoration:underline}header .header-top .top-sitemap .has-dropdown:hover .dropdown{height:auto;opacity:1;top:49px}header .top-social{display:inline-block;float:left}header .top-social a{background:0 0;border-radius:50%;display:inline-block;font-size:16px;height:25px;width:25px;line-height:28px;text-align:center;-webkit-transition:all .25s ease;-moz-transition:all .25s ease;-ms-transition:all .25s ease;-o-transition:all .25s ease;transition:all .25s ease}header .top-social a:hover{background:#ffab40;color:#fff!important}header .top-social a i{margin:0!important}header .header-bottom .navbar-default{background:#fff;border:none;border-radius:0;margin:0;padding:0 27px}header .header-bottom .navbar-default .navbar-collapse{padding:0}header .header-bottom .navbar-default .navbar-brand{max-width:100px;padding:12px 0}header .header-bottom .navbar-default .navbar-nav li{font-family:Roboto;overflow:hidden;position:relative}header .header-bottom .navbar-default .navbar-nav li a{background:#fff;color:#404040;font-size:14px;font-weight:500;line-height:67px;padding:3px 27.5px 0;text-transform:uppercase;transition:all .25s ease}header .header-bottom .navbar-default .navbar-nav li a:hover{color:#ffab40}header .header-bottom .navbar-default .navbar-nav li.active a{background:#fff;color:#ffab40}header .header-bottom .navbar-default .navbar-nav li.active a:focus,header .header-bottom .navbar-default .navbar-nav li.active a:hover{background:#fff;border:none;box-shadow:none;color:#ffab40;outline:0}header .header-bottom .navbar-default .navbar-nav li.menu-item-has-children>a:before{content:"\f107";font-family:FontAwesome;font-size:12px;top:3px;right:13px;position:absolute}header .header-bottom .navbar-default .navbar-nav li.menu-item-has-children:last-child ul.children,header .header-bottom .navbar-default .navbar-nav li.menu-item-has-children:last-child ul.sub-menu{left:inherit;right:0}header .header-bottom .navbar-default .navbar-nav li ul.children,header .header-bottom .navbar-default .navbar-nav li ul.sub-menu{background:#fff;border:1px solid #ebebeb;min-width:210px;position:absolute;left:7px;top:70px;padding:0;margin:0;z-index:1;opacity:0;height:0;text-align:left;-webkit-transition:all .25s ease;-moz-transition:all .25s ease;-ms-transition:all .25s ease;-o-transition:all .25s ease;transition:all .25s ease}header .header-bottom .navbar-default .navbar-nav li ul.children li,header .header-bottom .navbar-default .navbar-nav li ul.sub-menu li{border-bottom:1px solid #ebebeb;display:block}header .header-bottom .navbar-default .navbar-nav li ul.children li a,header .header-bottom .navbar-default .navbar-nav li ul.sub-menu li a{color:#404040;display:block;font-size:12px;line-height:35px;padding:7.5px 20px}header .header-bottom .navbar-default .navbar-nav li ul.children li a:hover,header .header-bottom .navbar-default .navbar-nav li ul.sub-menu li a:hover{color:#ffab40;padding-left:30px}header .header-bottom .navbar-default .navbar-nav li ul.children li:last-child,header .header-bottom .navbar-default .navbar-nav li ul.sub-menu li:last-child{border-bottom:none}header .header-bottom .navbar-default .navbar-nav li:hover{overflow:visible}header .header-bottom .navbar-default .navbar-nav li:hover ul.sub-menu,header .header-bottom .navbar-default .navbar-nav li:hover:hover ul.children{height:inherit;opacity:1}header .header-bottom .navbar-default .search-box{float:right;width:30px;text-align:right}header .header-bottom .navbar-default .search-box .search-icon{color:#404040;cursor:pointer;display:inline-block;font-size:16px;line-height:64px;padding-top:6px}header .header-bottom .navbar-default .search-box .search-form{background:#ebebeb;position:absolute;left:0;top:50px;line-height:70px;width:100%;z-index:-1;opacity:0;text-align:center;-webkit-transition:all .25s ease;-moz-transition:all .25s ease;-ms-transition:all .25s ease;-o-transition:all .25s ease;transition:all .25s ease}header .header-bottom .navbar-default .search-box .search-form input{border:none;color:#404040;font-size:15px;max-height:inherit;padding:15px 25px;text-align:left;width:100%}header .header-bottom .navbar-default .search-box .search-form input[type=submit]{display:none}header .header-bottom .navbar-default .search-box.active .search-icon i:before{content:"\e646"}header .header-bottom .navbar-default .search-box.active .search-form{opacity:1;top:70px;z-index:2}header.black-bg .header-top .top-sitemap .has-dropdown .dropdown{background:#404040;border-color:#404040}header.black-bg .header-top .top-sitemap .has-dropdown:hover .dropdown{top:50px}header.black-bg .header-top .top-sitemap .has-dropdown form input{background:#404040;border-color:#545454}header.black-bg .header-top .top-sitemap .has-dropdown form input[type=submit],header.black-bg .header-top .top-sitemap .has-dropdown form input[type=submit]:hover{background:#ffab40;color:#404040}header.black-bg .header-bottom .navbar,header.black-bg .header-bottom .navbar .search-box .search-form,header.black-bg .header-bottom .navbar li ul.children,header.black-bg .header-bottom .navbar li ul.sub-menu,header.black-bg .header-bottom .navbar li.active a,header.black-bg .header-bottom .navbar li.active a:hover{background:#404040}header.black-bg .header-top .top-sitemap .has-dropdown form .log-in,header.black-bg .header-top .top-sitemap .has-dropdown form .sign-up{border-color:#545454}header.black-bg .header-bottom .navbar li a{background:#404040;color:#ebebeb}header.black-bg .header-bottom .navbar .search-box .search-icon,header.black-bg .header-bottom .navbar li ul.children li a,header.black-bg .header-bottom .navbar li ul.sub-menu li a{color:#ebebeb}header.black-bg .header-bottom .navbar .search-box.active .search-form{top:71px}header.black-bg .header-bottom .top-social a{color:#ebebeb!important}header.logo-top .navbar-brand{max-width:100px;margin:0;padding:20px 0 0}header.logo-top .top-sitemap{margin-top:30px}header.logo-top .top-info{float:left}header.logo-top .top-info span:last-child{padding-right:15px}header.logo-top .top-social{margin-left:12px;position:relative}header.logo-top .top-social:before{content:'';background:#a6a6a6;width:1px;height:12px;position:absolute;top:18px;left:-10px}header.logo-top .header-bottom{text-align:right}header.logo-top .header-bottom .navbar{padding:0 2.5px}header.logo-top .header-bottom .navbar .main-menu{width:100%}header.logo-top .header-bottom .navbar .main-menu .search-box{margin-right:27.5px}header.logo-top .header-bottom .top-social{display:inline-block;float:none;line-height:70px}header.logo-top .header-bottom .top-social:before{display:none}header.logo-top .header-bottom .top-social a{color:#a6a6a6}header.logo-top .header-bottom .top-social a:hover{background:0 0;color:#ffab40!important}header.full-white .header-top .top-inner{background:#fff;border-bottom:1px solid #ebebeb;display:inline-block;float:left;padding:0 30px;width:100%}header.full-white .header-top .top-inner .has-dropdown:hover .dropdown{top:50px}header.full-black-bg .header-top .top-inner{background:#404040;border-bottom:1px solid #535353;display:inline-block;float:left;padding:0 30px;width:100%}header.full-black-bg .header-top .top-inner .has-dropdown:hover .dropdown{border-color:#535353;top:50px}header.full-black-bg .header-top .top-inner .top-sitemap,header.full-black-bg .header-top .top-inner .top-sitemap a{color:grey}header.full-black-bg .header-top .top-inner .top-sitemap a:hover{color:#ffab40}.banner-slider{overflow:hidden}.banner-slider .inner-contents{height:100%;width:100%;left:0;top:0;position:absolute;z-index:0}.banner-slider .item .inner-texts{max-width:50%;left:0;top:50%;padding-top:10%;position:absolute;transform:translate(19.5%,-50%)}.banner-slider .item .item-title{color:#fff;font-family:Roboto;font-size:30px;line-height:35px;margin:0 0 15px;padding:0;opacity:0;text-transform:uppercase;transition:all .25s ease;transform:scale(0)}.banner-slider .item .description{color:#fff;font-size:15px;font-weight:600;line-height:23px;opacity:0;text-transform:uppercase;transition:all .5s ease;transform:scale(0)}.banner-slider .item ul{margin:0;padding:0;opacity:0;transition:all .5s ease;transform:scale(0)}.banner-slider .item ul li{color:#fff;display:block;font-size:17px;font-weight:500;letter-spacing:.25px;list-style:none;padding-bottom:10px;text-transform:inherit}.banner-slider .item ul li i{color:#ffab40;font-size:20px;float:left;margin-right:5px}.banner-slider .item.active .btn-container,.banner-slider .item.active .description,.banner-slider .item.active .item-title,.banner-slider .item.active ul{opacity:1;transform:scale(1)}.banner-slider .item.active .inner-image{opacity:1!important;z-index:-1}.banner-slider .item .btn-container{margin-top:43px;opacity:0;text-transform:uppercase;transition:all .75s ease}.banner-slider .item .btn-container .btn{font-size:14px}.banner-slider .item-1 .inner-image,.banner-slider .item-2 .inner-image,.banner-slider .item-4 .inner-image{max-width:31%;position:absolute;right:0;bottom:0;opacity:0;transition:all .75s ease;transform:translate(-38%,100%)}.about-us .item a .item-title,.about-us .item a i{-webkit-transition:all .25s ease;-moz-transition:all .25s ease;-ms-transition:all .25s ease;-o-transition:all .25s ease}.banner-slider .item-1.active .inner-image,.banner-slider .item-2.active .inner-image,.banner-slider .item-4.active .inner-image{transform:translate(-38%,0)}.banner-slider .item-2 .inner-image{max-width:34%}.banner-slider .item-2 .description,.banner-slider .item-2 .item-title{color:#404040}.banner-slider .item-3 .inner-texts{left:50%;transform:translate(0,-50%)}.banner-slider .item-4 .inner-texts{max-width:45%;transform:translate(25.5%,-58%)}.banner-slider .item-4 .inner-image{max-width:35%}.banner-slider .carousel-control{background:rgba(0,0,0,.3)}.about-us .col-sm-3{padding:0 7.5px}.about-us .item a{background:#fff;display:inline-block;padding:30px;width:100%}.about-us .item a i{color:#ffab40;display:inline-block;font-size:30px;float:left;margin-right:20px;transition:all .25s ease}.about-us .item a .item-title{padding-top:6px;transition:all .25s ease}.about-us .item a:hover{background:#ffab40}.about-us .item a:hover .item-title,.about-us .item a:hover i{color:#fff}.about-us.about-us-2 .items{margin:0 -7.5px}.about-us.about-us-2 .col-sm-4{padding:0 7.5px}.about-us.about-us-2 .col-sm-4 .item{background:#fff;padding:30px}.about-us.about-us-2 .col-sm-4 .item i{color:#ffab40;font-size:30px}.about-us.about-us-2 .col-sm-4 .item .item-title{display:block;margin:14px 0 20px}.about-us.about-us-2 .col-sm-4 .item .description{line-height:25px;margin-bottom:12px}.about-us.about-us-3 .items{margin:0 -7.5px}.about-us.about-us-3 .col-sm-6{padding:0 7.5px}.about-us.about-us-3 .item{background:#fff}.about-us.about-us-3 .item .item-icon{color:#ffab40;font-size:50px;float:left;margin-right:20px;padding:0}.about-us.about-us-4 .col-sm-3 .item a i,.about-us.about-us-4 .col-sm-3 .item:hover a .item-title,.about-us.about-us-4 .col-sm-3 .item:hover a i{color:#404040}.about-us.about-us-3 .item .item-title{margin:-3px 0 20px}.about-us.about-us-3 .item .description{line-height:26px;margin-bottom:11px}.about-us.about-us-4 .col-sm-3{padding:0}.about-us.about-us-4 .col-sm-3 .item a{background:#ffab40}.about-us.about-us-4 .col-sm-3 .item:hover a{background:#fff}.welcome div[class*=col-sm-]{padding:0 7.5px}.welcome .col-sm-7 .section-title{margin-bottom:29px}.welcome .padding{padding:0 30px 20px}.welcome .item{margin:0;padding:18px 0}.welcome .item-icon{color:#ffab40;float:left;font-size:35px;margin-right:20px;width:40px}.we-do .inner-bg,.we-do .inner-bg .padding,.welcome.welcome-3 .items{width:100%;display:inline-block}.welcome .item-title{margin:0 0 19px}.welcome .description{margin:0}.welcome .read-more{margin:17px 0 25px}.welcome.welcome-2 .items{margin:0 -7.5px}.welcome.welcome-2 div[class*=col-sm-]{padding:0 7.5px}.welcome.welcome-2 .col-sm-8 .padding{max-width:58%}.welcome.welcome-2 .col-sm-8 img{bottom:2px;right:8px;max-width:40%;position:absolute}.welcome.welcome-2 .item{overflow:hidden;padding:19px 30px;position:relative;z-index:0}.welcome.welcome-2 .item .item-icon{color:rgba(0,0,0,.102);font-size:90px;left:-18px;top:0;position:absolute;z-index:-1}.welcome.welcome-2 .item:first-child{margin-top:11px}.welcome.welcome-2 .item:last-child{margin-bottom:16px}.welcome.welcome-2 .item p{line-height:26px}.welcome.welcome-3 .items{margin:0}.welcome.welcome-3 .inner-bg{border:none}.welcome.welcome-3 div[class*=col-sm-]{background:#fff;padding:0}.welcome.welcome-3 .section-title{margin-bottom:17px}.welcome.welcome-3 p{line-height:25px}.welcome.welcome-3 p strong{font-size:16px;font-weight:400}.welcome.welcome-3 .read-more{margin:32px 0 25px}.we-do .inner-bg .padding{padding:30px}.we-do .inner-bg .padding div[class*=col-sm-]{padding:0 9px}.partners .item,.partners div[class*=col-sm-]{padding:0 7.5px}.we-do .inner-bg .padding .item-title{margin:25px 0 20px}.we-do .inner-bg .padding .btn{margin:8px 0 15px}.partners .item{display:inline-block;width:19.69%}.partners .item a{background:#f5f5f5;display:inline-block;line-height:1;padding:35px 0;width:100%}.partners .item:hover a{background:#fff}.portfolio .section-title{margin-bottom:8px}.portfolio .padding{display:inline-block;padding:30px;width:100%}.portfolio .padding .items{margin:0 -8px}.portfolio .padding div[class*=col-sm-]{padding:0 8px}.portfolio .padding .item{position:relative;text-align:center}.portfolio .padding .item .item-hover{background:rgba(255,171,64,.75);height:100%;width:100%;left:0;top:0;opacity:0;padding:15px;position:absolute;-webkit-transition:all .25s ease;-moz-transition:all .25s ease;-ms-transition:all .25s ease;-o-transition:all .25s ease;transition:all .25s ease}.portfolio .padding .item .item-hover .hover-details{left:50%;top:50%;position:absolute;transform:translate(-50%,-50%)}.portfolio .padding .item .item-hover .hover-details .item-title{color:#fff;display:block;font-size:13px;font-weight:500;padding:8px 0}.portfolio .padding .item .item-hover .hover-details .item-title a{color:#fff}.portfolio .padding .item .item-hover .hover-details .category{color:#fff;font-size:12px}.portfolio .padding .item:hover .item-hover{opacity:1}.choose .items{margin:0 -7px}.choose .col-sm-6{padding:0 7px}.choose .item{margin-bottom:35px}.choose .item .item-icon{color:#ffab40;font-size:30px;float:left;padding:0;margin-right:15px;width:35px}.choose .item p{line-height:26px;margin:-6px 0 0}.choose .item:last-child{margin-bottom:8px}.choose .testimonial-slider{margin-bottom:11px;padding:15px 30px 40px;text-align:center}.choose .testimonial-slider .item{margin:0}.choose .testimonial-slider .item .author-avatar{margin-bottom:30px}.choose .testimonial-slider .item p{font-style:italic;line-height:27px;margin-bottom:20px}.choose .testimonial-slider .item .name{display:block;font-size:13px;margin-bottom:13px;text-transform:uppercase}.choose .testimonial-slider .carousel-indicators{bottom:0;left:0;margin:0;text-align:center;width:100%}.choose .testimonial-slider .carousel-indicators li{background:#e6e6e6;border:none;height:11px;width:11px;margin:0}.choose .testimonial-slider .carousel-indicators li.active{background:#ffab40;margin:0}.latest-post .items,.related-post .items{margin:0 -7.5px}.latest-post .latest-post-slider,.latest-post .related-post-slider,.related-post .latest-post-slider,.related-post .related-post-slider{margin-bottom:10px}.latest-post .latest-post-slider .item,.latest-post .related-post-slider .item,.related-post .latest-post-slider .item,.related-post .related-post-slider .item{margin:0 7.5px}.latest-post .latest-post-slider .item .entry-thumbnail,.latest-post .related-post-slider .item .entry-thumbnail,.related-post .latest-post-slider .item .entry-thumbnail,.related-post .related-post-slider .item .entry-thumbnail{margin-bottom:6px}.latest-post .latest-post-slider .item .entry-content,.latest-post .related-post-slider .item .entry-content,.related-post .latest-post-slider .item .entry-content,.related-post .related-post-slider .item .entry-content{display:inline-block}.latest-post .latest-post-slider .item .entry-title,.latest-post .related-post-slider .item .entry-title,.related-post .latest-post-slider .item .entry-title,.related-post .related-post-slider .item .entry-title{font-size:15px;line-height:20px;margin-bottom:8px;text-transform:uppercase}.latest-post .latest-post-slider .item .entry-title a,.latest-post .related-post-slider .item .entry-title a,.related-post .latest-post-slider .item .entry-title a,.related-post .related-post-slider .item .entry-title a{color:#404040}.latest-post .latest-post-slider .item p,.latest-post .related-post-slider .item p,.related-post .latest-post-slider .item p,.related-post .related-post-slider .item p{line-height:24px;margin:20px 0 22px}.features .items{margin:0 -7.5px}.features .col-sm-4{padding:0 7.5px}.features .item{background:#fff}.features .item .item-details{padding:30px}.features .item .item-details p{line-height:25px;margin-top:20px}.contact-details .items{margin:0 -7.5px}.contact-details div[class*=col-sm-]{padding:0 7.5px}.contact-details .padding{padding:25px 30px}.contact-details .wpcf7-form .wpcf7-form-control{border:1px solid #e6e6e6;border-radius:0;color:#a6a6a6;font-family:Roboto;font-size:14px;margin-bottom:20px;padding:24px 15px;width:100%}.contact-details .wpcf7-form .wpcf7-form-control#name{width:49%;float:left}.contact-details .wpcf7-form .wpcf7-form-control#email{width:49%;float:right}.contact-details .wpcf7-form .wpcf7-form-control[type=submit]{border:none;color:#fff;padding:0 35px;width:inherit}.contact-details .wpcf7-form .contact-message div,.contact-details .wpcf7-form .error-message div{display:inline-block;padding-left:8px}.contact-details .wpcf7-form textarea{height:17vh}.contact-details .wpcf7-form .contact-message{color:green}.contact-details .wpcf7-form .error-message{color:red}.contact-details .item{margin-bottom:40px}.contact-details .item:last-child{margin-bottom:16px}.contact-details .item .item-icon{color:#ffab40;font-size:35px;float:left;margin-right:15px;padding:0;width:45px}.contact-details .item .item-details{color:#737373;font-size:14px}.contact-details .item .item-details .item-title{display:block;margin-bottom:20px}.contact-details .item .item-details span{line-height:25px}.contact-details .item .item-details span a{color:#737373}.contact-details .item .item-details span a:hover{color:#ffab40}#googleMaps{height:59.5vh}.about-5 div[class*=col-sm-]{padding:0 7.5px}.about-5 .item-thumb{position:relative}.about-5 .item-thumb .iframe{color:#fff;font-size:30px;position:absolute;left:50%;top:50%;height:90px;width:90px;line-height:90px;text-align:center;z-index:0;transform:translate(-50%,-50%);transition:all .75s ease}.about-5 p,.welcome-5 .inner-bg p{line-height:25px}.about-5 .item-thumb .iframe:hover{color:#ffab40}.about-5 .item-thumb .iframe:before{border:5px solid #fff}.about-5 .item-thumb .iframe:after,.about-5 .item-thumb .iframe:before{content:'';border-radius:50%;height:100%;width:100%;left:0;top:0;position:absolute;z-index:-1;transition:all .35s ease}.shop-section .item .item-thumb .item-hover,.works .item .item-details{-webkit-transition:all .25s ease;-moz-transition:all .25s ease;-ms-transition:all .25s ease;-o-transition:all .25s ease}.about-5 .item-thumb .iframe:after{background:0 0}.about-5 .item-thumb .iframe:hover:before{border-color:#ffab40}.about-5 .item-thumb .iframe:hover:after{background:#ffab40;transform:scale(0)}.about-5 .item-title{margin-bottom:20px}.about-5 .col-sm-8 .padding{max-width:58%;padding:0 30px 30px}.about-5 .col-sm-8 .padding img{bottom:2px;right:8px;max-width:49%;position:absolute}.welcome-5 .col-sm-8 div[class*=col-sm-]{padding:0}.welcome-5 .section-title{margin-left:-30px}.welcome-5 .inner-bg{display:inline-block;width:100%}.welcome-5 .inner-bg .image{float:left;max-width:39%;padding:0}.welcome-5 .inner-bg .item{overflow:hidden;padding:19px 30px;position:relative;z-index:0}.welcome-5 .inner-bg .item .item-icon{color:rgba(0,0,0,.102);font-size:90px;left:-18px;top:0;position:absolute;z-index:-1}.welcome-5 .inner-bg .item:first-child{margin-top:11px}.welcome-5 .inner-bg .item:last-child{margin-bottom:16px}.welcome-5 .inner-bg .item p{line-height:26px}.process p,.services .item p{line-height:25px}.team-section .items{margin:0 -9px}.team-section .team-slider{margin-top:-5px}.team-section .team-slider .member{padding:0 9px}.team-section .team-slider .member .member-image{background:#e6e8ec}.team-section .team-slider .member .name{display:block;margin:27px 0 8px}.team-section .team-slider .member .member-social{margin:25px 0 10px}.team-section .team-slider .member .member-social a{color:#a6a6a6;display:inline-block;font-size:16px;width:22px}.team-section .team-slider .member .member-social a:hover{color:#ffab40}.services .items{display:inline-block;margin:-7.5px}.services div[class*=col-sm-]{padding:0 7.5px}.services .item{background:#fff;margin:7.5px 0;padding-bottom:15px}.services .item .item-title{margin-bottom:20px}.services .item .btn{margin-top:15px}.process .items{display:inline-block;margin:-7.5px}.process div[class*=col-sm-]{padding:0 7.5px}.process .item{margin:-5px 0 33px}.process .item .item-icon{color:#ffab40;font-size:30px;float:left;padding:0;margin-right:15px;width:35px}.process .item .item-title{margin-bottom:19px}.process .item:last-child{margin-bottom:0}.process .col-sm-5 .section-title{margin:40px 0 0}.process .col-sm-5 .padding{padding:17px 30px 43px}.process .col-sm-5 .padding .read-more{margin-top:8px}.services .service-nav{border:none;margin:7.5px 0;padding:0!important}.services .service-nav li{list-style:none;margin:0 0 10px;width:100%}.services .service-nav li a{background:#fff;border:none;border-radius:0;color:#404040;display:block;font-size:17px;font-weight:700;margin:0;padding:30px 30px 30px 80px;position:relative;text-transform:uppercase}.services .service-nav li a i{color:#ffab40;font-size:30px;position:absolute;left:30px;top:23px}.services .service-nav li a:hover{border:none}.services .service-nav li.active a{background:#ffab40;border:none;color:#fff}.services .service-nav li.active a i{color:#fff}.services .details-content{margin:7.5px 0 0}.services .details-content .items{margin:0 -7.5px}.services .details-content .service-slider{margin-bottom:35px}.services .details-content .service-slider .item{margin:0;padding:0!important}.services .details-content .service-slider .carousel-control{background:#fff;border-radius:50%;color:#737373;font-size:20px;height:45px;width:45px;line-height:45px;text-align:center;position:absolute;top:50%;margin-top:-22.5px}.services .details-content .service-slider .carousel-control.left{left:30px}.services .details-content .service-slider .carousel-control.right{right:30px}.services .details-content .item:last-child,.services .details-content .item:last-child p{margin-bottom:0;padding-bottom:6px}.services .details-content p{line-height:26px}.services .details-content .item-title{margin-bottom:20px}.services .details-content .btn{margin:14px 0}.our-team div[class*=col-sm-]{padding:0 7.5px}.our-team .items{margin:-7.5px}.our-team .member{margin:7.5px 0}.our-team .member .member-image{background:#cfd5e1;min-height:293px;line-height:16;text-align:center;padding:15px 15px 0}.our-team .member .name{display:block;margin-bottom:8px}.our-team .member p{line-height:25px;margin-top:20px}.our-team .member .member-social{margin:20px 0 4px}.our-team .member .member-social a{color:#a6a6a6;display:inline-block;font-size:16px;width:27px;height:27px;line-height:27px;text-align:left}.our-team .member .member-social a:hover{color:#ffab40}.our-team .member .btn{margin:14px 0 13px}.works .filter{margin:0;padding:12px 0 27px}.works .filter li{display:inline-block}.works .filter li a{color:grey;font-size:14px;font-weight:500;padding:0 15px;position:relative;text-transform:uppercase}.works .filter li a:before{content:'/';top:2px;right:-2px;position:absolute}.works .filter li:first-child a{padding-left:0}.works .filter li:last-child a:before{content:'';display:none}.works .items{margin:0 -9px}.works .item{margin:15px 9px;position:relative;text-align:center}.works .item .item-details{background:rgba(255,171,64,.75);height:100%;width:100%;left:0;top:0;opacity:0;position:absolute;transition:all .25s ease}.works .item .item-details .item-texts{left:50%;top:50%;position:absolute;transform:translate(-50%,-50%)}.works .item .item-details .item-texts .item-title{color:#fff;font-size:13px;font-weight:500}.works .item .item-details .item-texts .item-title a{color:#fff}.works .item .item-details .item-texts .category{color:#fff;display:block;font-size:12px;padding-top:8px}.works .item:hover .item-details{opacity:1}.works .grid-4 .item{width:23.35%}.works .grid-3 .item{width:31.695%}.works.single .items,.works.single .padding{display:inline-block;width:100%}.works.single .items div[class*=col-md-]{padding:0 9px}.works.single .item-title{font-size:22px;font-weight:500;margin:43px 0 17px;padding:0 30px;position:relative;text-transform:uppercase}.works.single .item-title:before{content:'';background:#ffab40;height:1px;width:15px;top:50%;left:0;position:absolute}.works.single .post-navigation{float:right;margin:45px 30px 0 0}.works.single .post-navigation a{color:#737373;display:inline-block;font-size:20px;padding-left:3px;vertical-align:baseline}.works.single .post-navigation a .fa-th-large{font-size:15px}.works.single .post-navigation a:hover{color:#ffab40}.works.single .about-work{padding-left:12px}.works.single .about-work .title{font-size:17px;padding:6px 0;text-transform:uppercase}.works.single .about-work p{line-height:26px;margin:5px 0}.works.single .about-work .widget_meta{color:#a6a6a6;font-size:14px;font-weight:700;margin:5px 0;text-transform:uppercase}.works.single .about-work .widget_meta .meta-id{color:#404040;display:block;line-height:23px}.works.single .about-work .widget_meta .meta-id span,.works.single .about-work .widget_meta .meta-id span a{color:#a6a6a6}.works.single .about-work .item-social{display:inline-block;margin:18px 0;width:100%}.works.single .about-work .item-social a{background:#ebebeb;border-radius:50%;color:#737373;display:inline-block;font-size:16px;height:40px;width:40px;line-height:40px;margin-right:8px;text-align:center}.works.single .about-work .item-social a:hover{background:#ffab40;color:#fff}.works.single .about-work .btn{line-height:45px;margin-top:12px;padding:0 22px}.works.single .related-works .padding{padding-top:8px}.works.single .related-works .item .item-title{margin:0}.works.single .related-works .item .item-texts{width:100%}.blog-posts .col-sm-4,.blog-posts .col-sm-8{padding:0 7.5px}.blog-posts article{background:#fff;margin-bottom:15px}.blog-posts article .entry-content{padding:30px 30px 45px}.blog-posts article .entry-content .entry-title{margin:-2px 0 8px -30px}.blog-posts article .entry-content .entry-meta{color:#a6a6a6;font-size:13px;font-weight:400}.blog-posts article .entry-content .entry-meta a{color:#ffab40}.blog-posts article .entry-content p{line-height:25px;margin:25px 0 20px}.blog-posts article .post-slider .carousel-control{background:#fff;border-radius:50%;color:#737373;font-size:20px;opacity:1}.blog-posts article .post-slider .carousel-control.left{left:30px}.blog-posts article .post-slider .carousel-control.right{right:30px}.blog-posts article.format-video .entry-thumbnail{position:relative}.blog-posts article.format-video .entry-thumbnail .iframe{color:#fff;font-size:60px;left:50%;top:50%;position:absolute;transform:translate(-50%,-50%)}.blog-posts article.format-quote .entry-thumbnail{background:#3f3f3f;color:#fff;font-weight:700;padding:30px}.blog-posts article.format-quote .entry-thumbnail blockquote{border:none;font-size:31px;font-style:italic;letter-spacing:2px;line-height:50px;margin:0;padding:0 0 60px;position:relative;z-index:0}.blog-posts article.format-quote .entry-thumbnail blockquote:before{content:"\f10e";color:#5a5a5a;font-family:FontAwesome;font-size:77px;bottom:-6.5%;right:23%;position:absolute;z-index:-1}.blog-posts article.format-quote .entry-thumbnail .name{display:block;font-size:14px;padding-bottom:18px;text-align:right;z-index:1}.blog-posts article.format-link .entry-thumbnail{background:#ffab40;color:#fff;padding:66px 30px}.blog-posts article.format-link .entry-thumbnail .link-title{display:block;font-size:22px;font-weight:500;padding-bottom:10px}.blog-posts article.format-link .entry-thumbnail a{color:#fff;font-size:14px;font-style:italic}.blog-posts article.format-link .entry-title{margin-top:30px}.blog-posts article.format-text-only .entry-title{margin-top:15px}.blog-posts.tile-layout .col-sm-8 article{clear:both;display:inline-block;float:left;margin-bottom:15px;width:100%}.blog-posts.tile-layout .col-sm-8 article .col-md-6{padding:0}.blog-posts.tile-layout .col-sm-8 article .entry-content{padding:40px 30px}.blog-posts.tile-layout .col-sm-8 article .entry-content .entry-title{font-size:17px;line-height:22px;margin:0;padding:0}.blog-posts.tile-layout .col-sm-8 article .entry-content .entry-title:before{display:none}.blog-posts.tile-layout .col-sm-8 article .entry-content .entry-meta{margin-top:10px}.blog-posts.tile-layout .col-sm-8 article .entry-content .btn{margin-top:13px}.blog-posts.single-layout article{background:0 0}.blog-posts.single-layout article .entry-content{background:#fff}.blog-posts.single-layout article .entry-content p{line-height:24px}.blog-posts.single-layout article .entry-content p strong{color:#737373;font-size:14px;font-weight:500}.blog-posts.single-layout article .entry-content blockquote{border-left:4px solid #ffab40;color:#737373;display:inline-block;font-size:17px;font-weight:500;font-style:italic;line-height:25px;margin:21px 0 15px 45px;padding:7px 0 7px 20px}.blog-posts.single-layout article .entry-content blockquote .name{display:block;font-size:14px;font-weight:400;font-style:normal;padding:11px 0 0 10px;position:relative}.blog-posts.single-layout article .entry-content blockquote .name:before{content:'';background:#737373;height:1px;width:5px;left:0;top:50%;margin-top:-.5px;position:absolute}.blog-posts.single-layout article .entry-content .content-bottom{border-top:1px solid #ebebeb;display:inline-block;margin:28px 0 -5px;padding:38px 0 0;width:100%}.blog-posts.single-layout article .entry-content .content-bottom .meta-id{color:#404040;display:block;font-size:14px;font-weight:500;padding:5px 0;text-transform:uppercase}.blog-posts.single-layout article .entry-content .content-bottom .meta-id a{color:#a6a6a6;padding-right:8px;position:relative}.blog-posts.single-layout article .entry-content .content-bottom .meta-id a:before{content:',';bottom:1px;right:5px;position:absolute}.blog-posts.single-layout article .entry-content .content-bottom .meta-id a:last-child:before{display:none}.blog-posts.single-layout article .author-bio{margin-top:15px}.blog-posts.single-layout article .author-bio .padding{display:inline-block}.blog-posts.single-layout article .author-bio .author-avatar{float:left;margin-right:30px;padding:0;width:120px}.blog-posts.single-layout article .author-bio .author-details .name{font-size:14px;padding:10px 0 0}.blog-posts.single-layout article .author-bio .author-details .name a{color:#a6a6a6}.blog-posts.single-layout article .author-bio .author-details p{line-height:24px;margin:10px 0 0}.blog-posts.single-layout article .author-bio .author-details .author-social{margin-top:10px}.blog-posts.single-layout article .author-bio .author-details .author-social a{color:#bfbfbf;display:inline-block;font-size:16px;margin-right:10px}.blog-posts.single-layout .comment-list li .reply a,.blog-posts.single-layout article .author-bio .author-details .author-social a:hover{color:#ffab40}.blog-posts.single-layout .comments .padding{padding-bottom:0}.blog-posts.single-layout .comment-list{margin:8px 0 0;padding:0}.blog-posts.single-layout .comment-list li{display:inline-block;list-style:none;margin:0;width:100%}.blog-posts.single-layout .comment-list li .comment-item{display:inline-block;margin-bottom:45px;width:100%}.blog-posts.single-layout .comment-list li .author-avatar{float:left;margin-right:30px;padding:0;width:90px}.blog-posts.single-layout .comment-list li .children{padding-left:30px}.blog-posts.single-layout .comment-list li .name{font-size:14px;margin-bottom:6px;padding-top:7px}.blog-posts.single-layout .comment-list li .reply{float:right;margin-top:7px}.blog-posts.single-layout .comment-list li .time{color:#a6a6a6;display:block;font-size:13px}.blog-posts.single-layout .comment-list li p{line-height:24px;margin:14px 0 0}.blog-posts.single-layout .respond{margin-top:15px}.blog-posts.single-layout .respond .comment-form .form-control,.blog-posts.single-layout .respond .comment-form input{border:1px solid #e6e6e6;border-radius:0;box-shadow:none;color:#a6a6a6;font-family:Roboto;font-size:14px;margin-bottom:20px;padding:24px 15px;width:100%}.blog-posts.single-layout .respond .comment-form .form-control#name,.blog-posts.single-layout .respond .comment-form input#name{width:49%;float:left}.blog-posts.single-layout .respond .comment-form .form-control#email,.blog-posts.single-layout .respond .comment-form input#email{width:49%;float:right}.blog-posts.single-layout .respond .comment-form .form-control[type=submit],.blog-posts.single-layout .respond .comment-form input[type=submit]{border:none;color:#fff;margin:10px 0 15px;padding:0 35px;width:inherit}.blog-posts.single-layout .respond .comment-form textarea{height:17vh}.shop-section .padding{display:inline-block;padding:45px 30px 22.5px;width:100%}.shop-section .shorts-by{display:inline-block;margin-bottom:22.5px;width:100%}.shop-section .shorts-by .short-title{color:grey;display:inline-block;font-size:14px;font-weight:700;padding-top:16px;text-transform:uppercase}.shop-section .shorts-by select{border:1px solid #e6e6e6;color:#a6a6a6;font-size:14px;padding:12px 15px}.shop-section .shorts-by select span{font-weight:700}.shop-section div[class*=col-sm-]{padding:0 7.5px}.shop-section .item{margin:22.5px 0}.shop-section .item .item-thumb{background:#ebebeb;padding:30px;position:relative}.shop-section .item .item-thumb .item-hover{background:rgba(0,0,0,.3);height:100%;width:100%;left:0;top:0;opacity:0;position:absolute;text-align:center;transition:all .25s ease}.shop-section .item .item-thumb .item-hover .hover-content{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%)}.shop-section .item .item-thumb .item-hover .hover-content .rating-symbol{color:#ffc051;font-size:14px}.shop-section .item:hover .item-hover{opacity:1}.shop-section .item .btn{background:#ebebeb;color:#404040;margin-bottom:10px;line-height:45px;padding:0 18px}.shop-section .item .btn:hover{background:#ffab40;color:#fff}.shop-section .item .item-details{padding-top:28px}.shop-section .item .item-details .price{font-size:14px;font-weight:700;margin:18px 0 28px}.shop-section .item .item-details .price .current-price{color:#ffab40;display:inline-block}.shop-section .item .item-details .price .previous-price{color:#a6a6a6;display:inline-block;margin-left:6px;text-decoration:line-through}.shop-section.single-layout .col-sm-8 div[class*=col-md-]{padding:0}.shop-section.single-layout .product-gallery{padding-right:30px}.shop-section.single-layout .product-gallery .image-slider{margin-bottom:15px}.shop-section.single-layout .product-gallery .tab-pane{background:#ebebeb;margin:0 0 15px}.shop-section.single-layout .product-gallery .nav-tabs{border:none}.shop-section.single-layout .product-gallery .nav-tabs li{margin-right:15px}.shop-section.single-layout .product-gallery .nav-tabs li:last-child{margin-right:0}.shop-section.single-layout .product-gallery .nav-tabs li a{background:#ebebeb;border:none;border-radius:0;margin:0;max-width:90px;padding:0}.shop-section.single-layout .about-product{margin-top:4px}.shop-section.single-layout .about-product .top-meta{color:#a6a6a6;font-size:13px;margin:11px 0}.shop-section.single-layout .about-product .top-meta a{color:#a6a6a6}.shop-section.single-layout .about-product .rating{color:#ffc868;display:inline-block;font-size:13px;padding-right:20px;position:relative}.shop-section.single-layout .about-product .rating .rating-symbol{margin-right:5px}.shop-section.single-layout .about-product .rating:before{content:'';background:#bebebe;width:1px;height:11px;position:absolute;top:1px;right:10px}.shop-section.single-layout .about-product .price{display:inline-block;font-size:22px;font-weight:700;margin:8px 0;width:100%}.shop-section.single-layout .about-product .price .current-price{color:#ffab40}.shop-section.single-layout .about-product .price .item-price{margin-left:-5px}.shop-section.single-layout .about-product p{line-height:26px;margin:13px 0}.shop-section.single-layout .about-product .cart-counter{display:inline-block;margin:23px 8px 29px 0}.shop-section.single-layout .about-product .cart-counter input{border:1px solid #e6e6e6;color:#737373;font-family:Roboto;font-size:15px;font-weight:700;height:60px;max-width:75px;padding:0 15px}.shop-section.single-layout .about-product .btn-container{display:inline-block}.shop-section.single-layout .about-product .widget_meta .meta-id{color:#404040;display:block;font-family:Roboto;font-size:14px;font-weight:700;padding-bottom:11px;text-transform:uppercase}.shop-section.single-layout .about-product .widget_meta .meta-id .meta-about{color:#a6a6a6;font-weight:500}.shop-section.single-layout .about-product .widget_meta .meta-id .meta-about a{color:#a6a6a6;padding-right:5px;position:relative}.shop-section.single-layout .about-product .widget_meta .meta-id .meta-about a:before{content:',';position:absolute;bottom:1px;right:2px}.shop-section.single-layout .about-product .widget_meta .meta-id .meta-about a:last-child:before{display:none}.shop-section.single-layout .product-tabs{display:inline-block;margin-top:45px;width:100%}.shop-section.single-layout .product-tabs .nav-tabs{border-bottom-color:#e6e6e6}.shop-section.single-layout .product-tabs .nav-tabs li a{background:#ebebeb;border-color:#e6e6e6;border-radius:0;color:#a6a6a6;font-size:17px;font-weight:700;margin:0;text-transform:uppercase}.shop-section.single-layout .product-tabs .nav-tabs li.active a{background:#fff;border-bottom-color:transparent;color:#404040}.shop-section.single-layout .product-tabs .tab-pane{padding:25px 0 8px}.shop-section.single-layout .product-tabs .tab-pane .author-avatar{float:left;max-width:60px;margin-right:20px;padding:0}.shop-section.single-layout .product-tabs .tab-pane .author-name{color:#404040;font-size:15px;font-weight:500;margin:0;text-transform:uppercase}.shop-section.single-layout .product-tabs .tab-pane .author-name a{color:#404040}.shop-section.single-layout .product-tabs .tab-pane .meta-info{color:#a6a6a6;font-size:14px;padding:3px 0 6px}.shop-section.single-layout .product-tabs .tab-pane .meta-info span{padding-left:10px;position:relative}.shop-section.single-layout .product-tabs .tab-pane .meta-info span:first-child{padding-left:0}.shop-section.single-layout .product-tabs .tab-pane .meta-info span:before{content:'';background:#c4c4c4;height:60%;width:2px;top:4px;right:-2px;position:absolute}.shop-section.single-layout .product-tabs .tab-pane .meta-info span:last-child:before{display:none}.shop-section.single-layout .product-tabs .tab-pane .meta-info a{color:#ffab40}.shop-section.single-layout .product-tabs .tab-pane .rating{color:#ffab40;font-size:14px}.shop-section.single-layout .product-tabs .tab-pane p{clear:both;display:block;line-height:24px;margin:20px 0}.shop-section.single-layout .product-tabs .tab-pane .children{padding-left:45px}.shop-section.single-layout .similar-items .padding{padding:0 0 30px}.shop-section.single-layout .similar-items .padding .similar-items-slider{padding:0 15px}.shop-section.single-layout .similar-items .padding .similar-items-slider .item{margin-bottom:4px;padding:0 22.5px}.shop-section.single-layout .similar-items .padding .similar-items-slider .item .price{font-size:17px}.shop-section.single-layout .similar-items .padding .similar-items-slider .item .price .previous-price{font-size:14px}.shop-section.single-layout .similar-items .padding .similar-items-slider .owl-controls{right:30px;top:-45px}.shop-section.single-layout .similar-items .padding .similar-items-slider .owl-controls div[class*=owl-]{display:inline-block!important}.shop-section aside.sidebar{background:0 0;padding:0}.shop-section aside.sidebar .widget{background:#fff;margin-bottom:15px;padding:45px 30px}.shop-section aside.sidebar .widget:last-child{padding-bottom:45px}aside.sidebar{background:#fff;padding:45px 30px}aside.sidebar .widget{display:inline-block;padding-bottom:42px;width:100%}aside.sidebar .widget .widget-details{padding-top:27px}aside.sidebar .widget:last-child{padding-bottom:0}aside.sidebar .widget_search .widget-details{padding-top:0}aside.sidebar .widget_search .widget-details form{position:relative}aside.sidebar .widget_search .widget-details form input{border:1px solid #e6e6e6;border-radius:0;box-shadow:none;color:#a6a6a6;font-size:14px;height:inherit;padding:20px 60px 20px 20px}aside.sidebar .widget_search .widget-details form input[type=submit]{background:0 0;border:none;font-size:0;position:absolute;top:0;right:0;height:100%;width:60px;padding:0}aside.sidebar .widget_search .widget-details form:before{content:"\f002";color:#b4b4b4;font-family:FontAwesome;font-size:15px;right:23px;top:23px;position:absolute}aside.sidebar .widget_archives a,aside.sidebar .widget_categories a{color:#737373;display:block;font-size:14px;padding:0 0 20px 20px;position:relative;text-transform:capitalize}aside.sidebar .widget_archives a:hover,aside.sidebar .widget_categories a:hover{color:#ffab40;padding-left:25px}aside.sidebar .widget_archives a:before,aside.sidebar .widget_categories a:before{content:"\e628";color:#737373;font-family:themify;font-size:10px;left:0;top:1px;position:absolute;-webkit-transition:all .25s ease;-moz-transition:all .25s ease;-ms-transition:all .25s ease;-o-transition:all .25s ease;transition:all .25s ease}aside.sidebar .widget_archives a:hover:before,aside.sidebar .widget_categories a:hover:before{color:#ffab40;padding-left:5px}aside.sidebar .widget_archives a:last-child,aside.sidebar .widget_categories a:last-child{padding-bottom:0}aside.sidebar article{margin:0 0 20px}aside.sidebar article:last-child{margin-bottom:0}aside.sidebar article .entry-thumbnail{float:left;margin-right:20px;padding:0;width:60px}aside.sidebar article .entry-content{padding:10px 0}aside.sidebar article .entry-content .entry-title{color:#737373;font-size:13px;line-height:20px;margin:0;padding:0}aside.sidebar article .entry-content .entry-title:before{display:none}aside.sidebar article .entry-content .entry-title a{color:#737373}aside.sidebar a[class*=tag-]{background:#ebebeb;color:#b2b2b2;display:inline-block;font-family:Roboto;font-size:13px;float:left;line-height:32px;margin:5px 6px 5px 0;padding:0 16.5px;text-transform:capitalize}aside.sidebar a[class*=tag-]:hover{background:#ffab40;color:#fff}aside.sidebar .tweet-slider{padding-bottom:40px}aside.sidebar .tweet-slider .item{color:#737373;font-size:14px;line-height:24px}aside.sidebar .tweet-slider .item a{color:#ffab40}aside.sidebar .tweet-slider .item .date{display:block;color:#ffab40}aside.sidebar .tweet-slider .carousel-indicators{bottom:0;left:0;margin:0;text-align:left}aside.sidebar .tweet-slider .carousel-indicators li{background:#ebebeb;border:none;height:11px;width:11px;margin:0}aside.sidebar .tweet-slider .carousel-indicators li.active{background:#ffab40}aside.sidebar .widget_cart .item{display:inline-block;margin:0 0 20px;position:relative;width:100%}aside.sidebar .widget_cart .close{color:#bfbfbf;font-size:16px;position:absolute;right:0;top:50%;opacity:1;text-shadow:none;transform:translate(0,-50%)}aside.sidebar .widget_cart .item-thumb{float:left;max-width:90px;margin-right:20px;padding:0}aside.sidebar .widget_cart .item-details{padding:17px 0}aside.sidebar .widget_cart .item-details .item-title{display:block}aside.sidebar .widget_cart .item-details .item-count,aside.sidebar .widget_cart .item-details .price{color:#ffab40;display:inline-block;font-size:17px;font-weight:700}aside.sidebar .widget_cart .item-details .price{margin:15px 0 0}aside.sidebar .widget_cart .item-details .item-count{padding-left:15px;position:relative}aside.sidebar .widget_cart .item-details .item-count:before{content:"x";font-size:17px;font-style:normal;color:#a6a6a6;top:0;left:2px;position:absolute}aside.sidebar .widget_cart .cart-bottom{border-top:1px solid #ebebeb;margin-top:10px;padding-top:45px}aside.sidebar .widget_cart .cart-bottom .price-total{color:#404040;display:inline-block;font-size:14px;font-weight:700;line-height:45px;text-transform:uppercase}aside.sidebar .widget_cart .cart-bottom .price-total .price{color:#ffab40;display:inline-block}aside.sidebar .widget_cart .cart-bottom .btn{background:#ebebeb;color:#404040;font-size:12px;font-weight:700;line-height:45px;padding:0 22px}aside.sidebar .widget_cart .cart-bottom .btn:hover{background:#ffab40;color:#fff}.short-texts .padding{display:inline-block;padding-top:0;width:100%}.short-texts .padding div[class*=col-]{padding:0 7.5px}.short-texts .padding h1{margin-top:0}.pagination{background:#fff;margin:0 0 -3px;text-align:left;width:100%}.pagination a,.pagination-2 .pagination{text-align:center}.pagination a{background:#fff;color:#999;display:inline-block;font-size:15px;font-weight:700;float:left;height:45px;width:45px;line-height:46px}.pagination a i{display:inline-block;font-size:16px;padding-top:13.5px}.pagination a.active,.pagination a:hover{background:#ffab40;color:#fff}footer,footer .widget_contacts address span a{color:#737373}.pagination-2 .pagination a{float:none;margin:0 -2px;vertical-align:bottom}footer{font-family:Roboto;font-size:14px;font-weight:400}footer .section-padding{padding-bottom:0}footer .section-padding .inner-bg{border-bottom:none}footer p{line-height:24px;margin:-5px 0 30px}footer .padding{display:inline-block;padding:40px 15px 25px;width:100%}footer .widget-title{padding-bottom:13px;position:relative}footer .widget-title:before{content:'';background:#ffab40;height:1px;width:15px;bottom:0;left:0;position:absolute}footer .widget_contacts address span{display:block;padding-bottom:5px}footer .widget_contacts address span i{display:table-cell;float:left;margin-right:5px;width:15px}footer .widget_contacts address span span{display:table-cell}footer .widget_info a{color:#737373;display:inline-block;padding-bottom:20px;width:49.25%}footer .widget_info a i{font-size:10px;margin-right:9px}footer .widget_info a:hover{color:#ffab40;padding-left:5px}footer .widget_office_hours .time{font-size:14px}footer .widget_office_hours .time span{display:inline-block;padding-bottom:6px}footer .widget_office_hours .time span.meta-id{font-weight:700}footer .widget_subscribe form{position:relative}footer .widget_subscribe form:before{content:"\f1d8";color:#ffab40;font-family:FontAwesome;font-size:16px;position:absolute;right:16px;top:16px}footer .widget_subscribe form input{box-shadow:none}footer .widget_subscribe form input[type=email]{border:1px solid #d9d9d9;border-radius:0;color:#a8a8a8;font-size:13px;height:inherit;max-height:inherit;padding:15px 45px 15px 15px}footer .widget_subscribe form input[type=submit]{background:0 0;border:none;font-size:0;position:absolute;top:0;right:0;height:100%;width:45px;padding:0}footer .widget_subscribe form input:focus{box-shadow:none}footer .footer-bottom .copyright{background:#f5f5f5;color:#a6a6a6;font-size:13px}footer .footer-bottom .copyright .padding{line-height:24px;padding:48px 30px}footer .footer-bottom .copyright a{color:#ffab40} 
